In [5]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import random

In [23]:
import pandas as pd

# Read the CSV file
df_shows = pd.read_csv('data/all_data.csv')

In [11]:
genres = df_shows['category'].unique()

In [17]:
def generate_user_ratings_with_profile(df_shows, personas):
    user_data = []

    for persona, preferences in personas.items():
        # Generating user IDs for each persona
        user_ids = [f"{persona}_{i+1}" for i in range(preferences['n_users'])]

        for user_id in user_ids:
            for _, row in df_shows.iterrows():
                # Checking if the show genre matches user's preferences
                if row['category'] in preferences['preferred_genres']:
                    # Assigning rating based on user's preferences
                    rating = np.nan if random.random() > preferences['rating_probability'] else random.randint(1, 5)
                    user_data.append({
                        "user_id": user_id,
                        "show_id": row["showId"],  
                        "rating": rating
                    })

    return pd.DataFrame(user_data)

personas = {
    "sports_fan": {
        "preferred_genres": ["Sports"],
        "rating_probability": 0.8,
        "n_users": 100
    },
    "documentary_enthusiast": {
        "preferred_genres": ["Documentaries", "From the Archives", "Science & Nature"],
        "rating_probability": 0.7,
        "n_users": 150
    },
    "comedy_lover": {
        "preferred_genres": ["Comedy"],
        "rating_probability": 0.7,
        "n_users": 100
    },
    "entertainment_buff": {
        "preferred_genres": ["Entertainment"],
        "rating_probability": 0.7,
        "n_users": 120
    },
    "children_viewer": {
        "preferred_genres": ["CBBC"],
        "rating_probability": 0.8,
        "n_users": 80
    }
}


user_ratings = generate_user_ratings_with_profile(df_shows, personas)
user_ratings.head()

        user_id  show_id  rating
0  sports_fan_1      116     2.0
1  sports_fan_1      117     5.0
2  sports_fan_1      118     4.0
3  sports_fan_1      119     5.0
4  sports_fan_1      120     1.0

In [18]:
user_ratings

                  user_id  show_id  rating
0            sports_fan_1      116     2.0
1            sports_fan_1      117     5.0
2            sports_fan_1      118     4.0
3            sports_fan_1      119     5.0
4            sports_fan_1      120     1.0
...                   ...      ...     ...
21245  children_viewer_80       21     3.0
21246  children_viewer_80       22     NaN
21247  children_viewer_80       23     4.0
21248  children_viewer_80       24     3.0
21249  children_viewer_80       25     3.0

[21250 rows x 3 columns]

In [21]:
file_path = "user_ratings.csv"

# Save the DataFrame to a CSV file
user_ratings.to_csv(file_path, index=False)